

<div class="row">
  <div class="col-sm-6">
    <div class="jumbotron" style="background-color: silver">
      <div class="breadcrumb">YTD Average</div>
      <div class="breadcrumb">
        <%= line_chart @cashflows.where(year:@year).group(:month).average(:balance) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="jumbotron" style="background-color: silver">
      <div class="breadcrumb">YTD Total</div>
      <div class="breadcrumb">
        <%= line_chart @cashflows.where(year:@year).group(:month).sum(:balance) %>
      </div>
    </div>
  </div>
</div>