
<% provide(:title, "Home") %>


  <div class="jumbotron" style="background-color: silver">
    <div class="breadcrumb" style="background-color: gray;color:white">
      <h3>Visum</h3>
    </div>
    <div class="jumbotron">
      <%= @visitor_view_desc %>
    </div>

    <div class="breadcrumb" style="background-color: gray; color: #730E15">
      <%= @notice_of_access_request %>
    </div>


</div>


<br> <br>