<h1>Editing Financialinstitution</h1>

<%= render 'form', financialinstitution: @financialinstitution %>

<%= link_to 'Show', @financialinstitution %> |
<%= link_to 'Back', financialinstitutions_path %>
