<footer class="footer">
  <small>
    Visum <%= Date.today.year %>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",root_path %></li>

      <li><a href="http://dlibrary.herga.net">Document Library</a></li>
      <li><a href="http://herga.net">HERGA</a></li>
    </ul>
  </nav>
</footer>